[submodule "db"]
	path = db
	url = https://github.com/heropoo/db.git
[submodule "routing"]
	path = routing
	url = https://github.com/heropoo/routing.git
[submodule "config"]
	path = config
	url = https://github.com/heropoo/config.git
[submodule "console"]
	path = console
	url = https://github.com/heropoo/console.git
